.column {
    float: left;
    width: 50%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h1, h2{
    text-align: center;
}

a:link {
  text-decoration: none;
  color: black;
}
  
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.node-info-line {
  cursor: pointer;
}
.node-info-line:hover {
  border-width : 3px;
}
tr.border_bottom td,tr.border_bottom th {
  border-bottom: 1px solid black;
  border-color: rgb(222,226,230);
}
header.page-header {
  background: no-repeat left/cover url(/static/background_image.jpg);
  display: flex;
  height: 120px;
  min-width: 120px;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-shadow: #000 0 0 .2em;
  margin-bottom: 20px;
}
