<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/bootstrap-5.0.0-beta3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>{% block title %} Hive Entropy {% endblock %}</title>
    {% block table %}
    <!--COMPONENT TABLE-->
    <script type="text/x-template" id="grid-template">
        <table class="table table-striped">
          <thead>
            <tr>
              <th v-for="key in columns">
                [[ key ]]
                <span class="arrow">
                </span>
              </th>
            </tr>
          </thead>
          <tbody>

            <tr class="node-info-line" v-for="entry in nodinfo" v-on:click="redirection('http://127.0.0.1:5000/nodes/'+entry.id)">
              <td v-for="key in columns">
                    [[ entry[key] ]]
              </td>
              <input style="float:right" type="button" value="Deploy" onclick="alert('Execution fonction de déploiement')">
            </tr>
          </tbody>
        </table>
    </script>
{% endblock %}
</head>
<header class="page-header">
    <img class="img-rounded" height="120px" width="120px" src="../static/logo.png" >
    <h1>Hive Entropy</h1>
</header>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-">
                <h2>Nodes in HiveEntropy</h2>
                <div id="nodes">
                    <nodes-grid :nodinfo="gridData" :columns="gridColumns" :nodid="nodesId"> </nodes-grid>
                </div>
            </div>
        </div>
        <div class="col-sm-">
        </div>
    </div>
    {% endblock %}

    {% block script %}
    <script src="../static/bootstrap-5.0.0-beta3-dist/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    {% endblock %}
    {% block vue %}
    <script>
        function dosomething(entry){
            alert(entry)
        }
        // register the grid component
        Vue.component("nodes-grid", {
            delimiters: ['[[',']]'],
            template: "#grid-template",
            props: {
                nodinfo: Array,
                columns: Array
            },
            methods: {
                redirection: function(urlstr) {
                    console.log(urlstr);
                    window.location.href = urlstr;
                }
            }
        });

        var nodes = new Vue({
            el: "#nodes",
            delimiters: ['[[',']]'],
            data () {
                return {
                    gridColumns: null,
                    gridData: null,
                    nodesId:null
                }
            },
            mounted () {
                axios.get('/nodes')
                        .then(response => {
                            this.gridData = response.data.gridData
                            this.gridColumns = response.data.gridColumns
                            this.nodesId = response.data.nodesId

                        })
                        .catch(function (error) {
                            console.log(error)
                            this.errored = true
                        })
            }
        });
    </script>
    {% endblock %}

</body>
</html>