<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/bootstrap-5.0.0-beta3-dist/css/bootstrap.css">
    <title>Test Get and Post</title>
</head>
<body>

    <h1>Hive Entropy</h1>
    <form action="/" method="GET">
        <input type="text" name="name" placeholder="Enter something">
        <input type="submit">
    </form>
    <p>My first paragraph.</p>

    <div id="app">
        <h2>[[ title ]]</h2>
    </div>
    <div id="app-2">
        <span v-bind:title="message">
          Passez votre souris sur moi pendant quelques secondes
          pour voir mon titre lié dynamiquement !
        </span>
    </div>
    <div id="app-3">
        <p v-if="seen">Maintenant vous me voyez</p>
    </div>
    <div id="app-4">
        <ol>
          <li v-for="todo in todos">
            [[ todo.text ]]
          </li>
        </ol>
    </div>

    <!--________________TEST________________-->
    <div id="watch-example">
        <p>
            Posez votre question (réponse par Oui ou Non) :
            <input v-model="question">
        </p>
        <p>[[ title ]]</p>
    </div>

    <form action="#" method="POST">
        <input type="text" name="nodeid" placeholder="Enter something else">
        <input type="submit">
    </form>

    {% block content %}{% endblock %}
    
    {% block script %}
    <script src="../static/bootstrap-5.0.0-beta3-dist/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script>
            var app = new Vue({
                el: '#app',
                delimiters: ['[[',']]'],
                data: {
                    title: "HELO WORD"
                },
            })
            var app2 = new Vue({
                el: '#app-2',
                data: {
                    message: 'Vous avez affiché cette page le ' + new Date().toLocaleString()
                }
            })  
            var app3 = new Vue({
                el: '#app-3',
                data: {
                    seen: true
                }
            })
            var app4 = new Vue({
                el: '#app-4',
                delimiters: ['[[',']]'],
                data: {
                    todos: [
                        { text: 'Apprendre JavaScript' },
                        { text: 'Apprendre Vue' },
                        { text: 'Créer quelque chose de génial' }
                    ]
                }
            })

            var watchExampleVM = new Vue({
            el: '#watch-example',
            delimiters: ['[[',']]'],
            data: {
                question: '',
                title: 'Je ne peux pas vous donner une réponse avant que vous ne posiez une question !'
            },
            watch: {
                // à chaque fois que la question change, cette fonction s'exécutera
                question: function (newQuestion, oldQuestion) {
                this.title = "J'attends que vous arrêtiez de taper..."
                this.debouncedGetAnswer()
                }
            },
            created: function () {
                // _.debounce est une fonction fournie par lodash pour limiter la fréquence
                // d'exécution d'une opération particulièrement coûteuse.
                // Dans ce cas, nous voulons limiter la fréquence d'accès à
                // yesno.wtf/api, en attendant que l'utilisateur ait complètement
                // fini de taper avant de faire la requête ajax. Pour en savoir
                //  plus sur la fonction `_.debounce` (et sa cousine
                // `_.throttle`), visitez : https://lodash.com/docs#debounce
                this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
            },
            methods: {
                getAnswer: function () {
                    if (this.question.indexOf('?') === -1) {
                        this.title = "Les questions contiennent généralement un point d'interrogation. ;-)"
                        return
                    }
                    this.title = 'Je réfléchis...'
                    var vm = this
                    axios.get('/test')
                        .then(function (response) {
                            vm.title = _.capitalize(response.data.title)
                        })
                        .catch(function (error) {
                        vm.title = "Erreur ! Impossible d'accéder à l'API." + error
                        })
                }
            }
            })
    </script>
    {% endblock %}
        <!--<script type="text/javascript" src="../static/map.js"></script>-->

</body>
</html>