{% extends "index.html" %}
{% block title %}Infos - {{nodeid}}{% endblock %}

{% block table %}
{% endblock %}

{% block content %}
<h2>Informations about node : {{nodeid}}</h1>
<p>{{deploy_done}}</p>
<div class="container">
    <div class="row">
    <div class="col-sm-" id="nodes">
        <table class="table table-striped">
            <tr v-for="(key,item) in grid.gridData" v-bind:key="item.gridColumns">
                <th>[[ item ]]</th>
                <td>
                    <template v-if="item==='processor'">
                        <ul>
                            <li v-for="(val,cat) in key">
                                <template v-if="cat==='frequency'">[[ cat ]] : 
                                    <ul>
                                        <li v-for="(val2,cat2) in val">[[ cat2 ]] : [[ val2 ]]
                                        </li>
                                    </ul>
                                </template>
                                <template v-else>
                                    [[ cat ]] : [[ val ]]
                                </template>
                            </li>
                        </ul>
                    </template>
                    <template v-else-if="item==='ram'">
                        <ul>
                            <li v-for="(val,cat) in key">
                                <template v-if="cat==='capacity'">[[ cat ]] : 
                                    <ul>
                                        <li v-for="(val2,cat2) in val">[[ cat2 ]] : [[ val2 ]]
                                        </li>
                                    </ul>
                                </template>
                                <template v-else>
                                    [[ cat ]] : [[ val ]]
                                </template>
                            </li>
                        </ul>
                    </template>
                    <template v-else>
                        [[ key ]]
                    </template>
                </td>
            </tr>
        </table>
    </div>
    </div>
</div>
{% endblock %}

{% block vue %}
<script>
    // register the grid component
    var nodes = new Vue({
        el: "#nodes",
        delimiters: ['[[',']]'],
        data () {
            return {
                gridColumns: null,
                gridData: null,
                grid: {},
                nodesId: null
            }
        },
        mounted () {
            axios.get(window.location.href+'/info')
                .then(response => {
                    this.grid = {"gridData" : response.data.gridData, "gridColumns" : response.data.gridColumns}
                    this.nodesId = response.data.nodesId
                })
                .catch(function (error) {
                    console.log(error)
                    this.errored = true
                })
        }
    });
</script>
{% endblock %}